spring:
  datasource:
    url: jdbc:postgresql://db:5432/app
    username: app
    password: app
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  sql:
    init:
      mode: never

  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:db/docker
